.content {
  min-height: 100vh;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
}

.title,
.description {
  text-align: right;
}

.description {
  margin: 2.5rem 0;
  line-height: 1.5;
  font-size: 1.2rem;
}

.primaryPage {
  background-color: black;
  color: white;
}
