.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.controls button {
  margin-right: 1rem;
}

button.primary {
  color: white;
  background-color: #5aade0;
}
