.main {
  flex: 1;
}

.content {
  width: 50vw;
}

.canvas {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50vw;

  display: flex;
  justify-content: center;
  align-items: center;

  background: white;
}
